<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Meet Place
        </title>
        <link href="http://fonts.cdnfonts.com/css/inter" rel="stylesheet">
        <link href="http://fonts.cdnfonts.com/css/manrope-3" rel="stylesheet">
        <link href="http://fonts.cdnfonts.com/css/ibm-plex-sans-condensed-2" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <header>
            <div class="container_logo">
                <span class="logo">MeetPlace</span>
            </div>
            <div class="container_user">
                <img class="icon_user" src="css/avatar.png">
                <span class="text_user"> Joe Biden </span>
            </div>
        </header> 
    </body>
</html>